.logo {
    height: 32px;
}

.dark .logo {
    filter: grayscale(100%) brightness(300%);
}

:not(.dark) .nextra-banner-container {
    background-color: #CEEBF9;
    color: black;
}

.nextra-nav-container nav {
    box-shadow: 0 8px 24px -2px rgba(0, 0, 255, .05);
    margin-bottom: 12px;
}

.dark .nextra-nav-container nav {
    box-shadow: 0 8px 24px -2px rgba(0, 0, 255, .05);
    margin-bottom: 12px;
}

.nx-mx-auto {
    max-width: inherit !important;
}

.md-alert-primary {
    background-color: #d7eaf8;
    border: 1px solid #d7eaf8;
    padding: 1rem;
}

.dark .md-alert-primary {
    background-color: #004173;
    border: 1px solid #004173;
    padding: 1rem;
}

.md-alert-success {
    background-color: #dff6dd;
    border: 1px solid #dff6dd;
    padding: 1rem;
}

.dark .md-alert-success {
    background-color: #054b16;
    border: 1px solid #054b16;
    padding: 1rem;
}

.md-alert-info {
    background-color: #efd9fd;
    border: 1px solid #efd9fd;
    padding: 1rem;
}

.dark .md-alert-info {
    background-color: #3b2e58;
    border: 1px solid #3b2e58;
    padding: 1rem;
}

.md-alert-warning {
    background-color: #fff4ce;
    border: 1px solid #fff4ce;
    padding: 1rem;
}

.dark .md-alert-warning {
    background-color: #6a4b16;
    border: 1px solid #6a4b16;
    padding: 1rem;
}

.docon {
    font-family: docons;
    font-size: inherit;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    display: inline-block;
}

.docon-lightbulb::before {
    content: "💡";
}

.docon-memo::before {
    content: "📝";
}

.docon-warning::before {
    content: "⚠️";
}

.docon-information::before {
    content: "ℹ️";
}