.logo {
    height: 32px;
}

.dark .logo {
    filter: grayscale(100%) brightness(300%);
}

:not(.dark) .nextra-banner-container {
    background-color: #CEEBF9;
    color: black;
}

.nextra-nav-container nav {
    box-shadow: 0 8px 24px -2px rgba(0, 0, 255, .05);
    margin-bottom: 12px;
}

.dark .nextra-nav-container nav {
    box-shadow: 0 8px 24px -2px rgba(0, 0, 255, .05);
    margin-bottom: 12px;
}

.nx-mx-auto {
    max-width: inherit !important;
}
